<div th:fragment="page">
    <div class="card-body">
        <a class='btn btn-sm btn-primary text-light' th:text="${username}"></a>
        <hr/>
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>No</th>
                    <th>UserID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>190035</td>
                    <td>Jaenudin</td>
                    <td>-</td>
                    <td>M</td>                        
                    <td>-</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
